.app__mountain {
    width: 100%;
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
}

.app__mountain-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__mountain-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__mountain-name {
    flex: 1;
}

.app__mountain-dash {
    width: 90px;
    height: 1px;

    background: var(--color-golden);
    margin: 0 1rem;
}