.app__members {
    flex-direction: column;
    align-items: center;
    background: var(--color-black);
}

.app__members-title {
    margin-bottom: 4rem;
    text-align: center;
}


.app__members-exec-list {
    display: flex;
    flex-direction: row;

    margin: 4rem 0;
    width: 100%;
}

.app__members-founders {
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

.app__members-subtitle_founders-name{
    color: var(--color-golden);
    font-size: 22px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
}

.app__members-list {
    flex: 1;
}

.app__members-subtitle{
    width: 100%;

    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.app__members-subtitle_heading{
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 35px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

@media screen and (max-width: 1150px) {
    .app__members-exec-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .app__members-founders {
        align-items: center;
        text-align: center;
        width: 70%;
        height: 70%;
    }

    .app__members-subtitle_founders-name{
        font-size: 12px;
        line-height: 40px;
    }
    
    
}

@media screen and (max-width: 650px) {

    .app__members-subtitle_heading{
        font-size: 35px;
        line-height: 48.5px;
    }

    .app__members-exec-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .app__members-founders {
        align-items: center;
        text-align: center;
        width: 80%;
        height: 80%;
    }
}

