.app__header{
    /* background-color: var(--color-black); */
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 50px;
}

.app__header-h2{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    font-size: 25px;
}


.app__header-img{
    width: 80%;
}

.time {
    font-size: 18px;
  }

.app__timers{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
    flex-direction: row;
}

@media screen and (max-width: 1150px) {

    .app__header-h1{
        font-size: 75px;
    }

    .app__header-h2{
        font-size: 75px;
    }

    .app__timers{
        size: 15px;
    }    
}

@media screen and (max-width: 650px) {
    .app__header-h1{
        font-size: 30px;
    }

    .app__header-h2{
        font-size: 30px;
    }

    .app__timers{
        size: 5px;
    } 

    .time {
        font-size: 16px;
      }

}